USE [ministore]
GO
/****** Object:  Table [dbo].[category]    Script Date: 25-Oct-23 1:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[CATEGORY_MINI_ID] [int] NULL,
 CONSTRAINT [PK__category__3214EC27B14667F7] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_mini]    Script Date: 25-Oct-23 1:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_mini](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__category__3214EC27253F2246] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[consumer]    Script Date: 25-Oct-23 1:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[consumer](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[GENDER] [nvarchar](50) NULL,
	[DOB] [date] NULL,
	[CELL] [int] NULL,
 CONSTRAINT [PK__consumer__3214EC27734777CE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 25-Oct-23 1:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[GENDER] [nvarchar](50) NOT NULL,
	[DOB] [date] NOT NULL,
	[CELL] [varchar](50) NOT NULL,
	[IMG] [varchar](50) NULL,
 CONSTRAINT [PK__employee__3214EC27C14AFEAA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 25-Oct-23 1:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[CATEGORY_ID] [int] NOT NULL,
	[PROMOTION_ID] [int] NULL,
	[PROVIDER_ID] [int] NOT NULL,
	[PRICE] [decimal](10, 0) NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[EXP] [date] NOT NULL,
	[IMG] [varchar](50) NOT NULL,
 CONSTRAINT [PK__product__3214EC27D61BDD74] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotion]    Script Date: 25-Oct-23 1:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotion](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[DISCRIPTION] [ntext] NOT NULL,
	[PERCENT_DISCOUNT] [decimal](10, 0) NOT NULL,
	[START_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
 CONSTRAINT [PK__promotio__3214EC27941028B7] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[provider]    Script Date: 25-Oct-23 1:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[provider](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[CELL] [int] NOT NULL,
	[ADDRESS] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__provider__3214EC2752EA2326] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[purchase_invoice]    Script Date: 25-Oct-23 1:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purchase_invoice](
	[ID] [int] NOT NULL,
	[EMPLOYEE_ID] [int] NOT NULL,
	[DATE] [date] NOT NULL,
	[TOTAL_PAYMENT] [decimal](10, 0) NOT NULL,
	[PROVIDER_ID] [int] NOT NULL,
 CONSTRAINT [PK__purchase__3214EC27C9F30652] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[purchase_invoice_detail]    Script Date: 25-Oct-23 1:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purchase_invoice_detail](
	[INVOICE_ID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[PRICE] [decimal](10, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[INVOICE_ID] ASC,
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales_invoice]    Script Date: 25-Oct-23 1:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales_invoice](
	[ID] [int] NOT NULL,
	[EMPLOYEE_ID] [int] NOT NULL,
	[DATE] [date] NOT NULL,
	[TOTAL_PAYMENT] [decimal](10, 0) NOT NULL,
	[CONSUMER_ID] [int] NOT NULL,
	[VOUCHER_ID] [int] NULL,
 CONSTRAINT [PK__sale_inv__3214EC27947CD19E] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales_invoice_detail]    Script Date: 25-Oct-23 1:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales_invoice_detail](
	[INVOICE_ID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[QUANTITY] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[INVOICE_ID] ASC,
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[voucher]    Script Date: 25-Oct-23 1:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voucher](
	[ID] [int] NOT NULL,
	[CODE] [nvarchar](50) NOT NULL,
	[DISCRIPTION] [ntext] NOT NULL,
	[DISCOUNT_AMOUNT] [decimal](10, 0) NULL,
	[MIN_INVOICE_VALUE] [decimal](10, 0) NULL,
	[PERCENT_DISCOUNT] [decimal](10, 0) NULL,
	[MAX_DISCOUNT] [decimal](10, 0) NULL,
	[START_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
 CONSTRAINT [PK__voucher__3214EC27A52AF992] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[category] ([ID], [NAME], [CATEGORY_MINI_ID]) VALUES (100, N'Thức ăn nhanh', NULL)
INSERT [dbo].[category] ([ID], [NAME], [CATEGORY_MINI_ID]) VALUES (101, N'Hàng tiêu dùng', NULL)
INSERT [dbo].[category] ([ID], [NAME], [CATEGORY_MINI_ID]) VALUES (102, N'Dịch vụ tiện ích', NULL)
GO
INSERT [dbo].[employee] ([ID], [NAME], [GENDER], [DOB], [CELL], [IMG]) VALUES (10000, N'Lan', N'Nữ', CAST(N'2002-05-02' AS Date), N'0905224167', N'3.png')
INSERT [dbo].[employee] ([ID], [NAME], [GENDER], [DOB], [CELL], [IMG]) VALUES (10001, N'Xoài', N'Nam', CAST(N'2001-06-09' AS Date), N'0326554286', N'')
INSERT [dbo].[employee] ([ID], [NAME], [GENDER], [DOB], [CELL], [IMG]) VALUES (10002, N'Cóc', N'Nữ', CAST(N'2002-12-12' AS Date), N'0958625541', N'6.png')
GO
INSERT [dbo].[promotion] ([ID], [NAME], [DISCRIPTION], [PERCENT_DISCOUNT], [START_DATE], [END_DATE]) VALUES (1000, N'alo', N'bài alo', CAST(0 AS Decimal(10, 0)), CAST(N'2023-10-03' AS Date), CAST(N'2023-10-11' AS Date))
GO
INSERT [dbo].[voucher] ([ID], [CODE], [DISCRIPTION], [DISCOUNT_AMOUNT], [MIN_INVOICE_VALUE], [PERCENT_DISCOUNT], [MAX_DISCOUNT], [START_DATE], [END_DATE]) VALUES (100, N'afgh', N'áp dụng cho háo đơn 5tr ', CAST(20000 AS Decimal(10, 0)), CAST(5000000 AS Decimal(10, 0)), NULL, NULL, CAST(N'2023-10-24' AS Date), CAST(N'2023-10-25' AS Date))
GO
ALTER TABLE [dbo].[category]  WITH CHECK ADD  CONSTRAINT [FK__category__CATEGO__398D8EEE] FOREIGN KEY([CATEGORY_MINI_ID])
REFERENCES [dbo].[category_mini] ([ID])
GO
ALTER TABLE [dbo].[category] CHECK CONSTRAINT [FK__category__CATEGO__398D8EEE]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK__product__CATEGOR__440B1D61] FOREIGN KEY([CATEGORY_ID])
REFERENCES [dbo].[category] ([ID])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK__product__CATEGOR__440B1D61]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK__product__PROMOTI__44FF419A] FOREIGN KEY([PROMOTION_ID])
REFERENCES [dbo].[promotion] ([ID])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK__product__PROMOTI__44FF419A]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK__product__PROVIDE__45F365D3] FOREIGN KEY([PROVIDER_ID])
REFERENCES [dbo].[provider] ([ID])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK__product__PROVIDE__45F365D3]
GO
ALTER TABLE [dbo].[purchase_invoice]  WITH CHECK ADD  CONSTRAINT [FK__purchase___EMPLO__4AB81AF0] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[employee] ([ID])
GO
ALTER TABLE [dbo].[purchase_invoice] CHECK CONSTRAINT [FK__purchase___EMPLO__4AB81AF0]
GO
ALTER TABLE [dbo].[purchase_invoice]  WITH CHECK ADD  CONSTRAINT [FK__purchase___PROVI__4BAC3F29] FOREIGN KEY([PROVIDER_ID])
REFERENCES [dbo].[provider] ([ID])
GO
ALTER TABLE [dbo].[purchase_invoice] CHECK CONSTRAINT [FK__purchase___PROVI__4BAC3F29]
GO
ALTER TABLE [dbo].[purchase_invoice_detail]  WITH CHECK ADD  CONSTRAINT [FK__purchase___INVOI__4F7CD00D] FOREIGN KEY([INVOICE_ID])
REFERENCES [dbo].[purchase_invoice] ([ID])
GO
ALTER TABLE [dbo].[purchase_invoice_detail] CHECK CONSTRAINT [FK__purchase___INVOI__4F7CD00D]
GO
ALTER TABLE [dbo].[purchase_invoice_detail]  WITH CHECK ADD  CONSTRAINT [FK__purchase___PRODU__5070F446] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[product] ([ID])
GO
ALTER TABLE [dbo].[purchase_invoice_detail] CHECK CONSTRAINT [FK__purchase___PRODU__5070F446]
GO
ALTER TABLE [dbo].[sales_invoice]  WITH CHECK ADD  CONSTRAINT [FK__sale_invo__CONSU__5441852A] FOREIGN KEY([CONSUMER_ID])
REFERENCES [dbo].[consumer] ([ID])
GO
ALTER TABLE [dbo].[sales_invoice] CHECK CONSTRAINT [FK__sale_invo__CONSU__5441852A]
GO
ALTER TABLE [dbo].[sales_invoice]  WITH CHECK ADD  CONSTRAINT [FK__sale_invo__EMPLO__534D60F1] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[employee] ([ID])
GO
ALTER TABLE [dbo].[sales_invoice] CHECK CONSTRAINT [FK__sale_invo__EMPLO__534D60F1]
GO
ALTER TABLE [dbo].[sales_invoice]  WITH CHECK ADD  CONSTRAINT [FK_sale_invoice_voucher] FOREIGN KEY([VOUCHER_ID])
REFERENCES [dbo].[voucher] ([ID])
GO
ALTER TABLE [dbo].[sales_invoice] CHECK CONSTRAINT [FK_sale_invoice_voucher]
GO
ALTER TABLE [dbo].[sales_invoice_detail]  WITH CHECK ADD  CONSTRAINT [FK__sale_invo__INVOI__571DF1D5] FOREIGN KEY([INVOICE_ID])
REFERENCES [dbo].[sales_invoice] ([ID])
GO
ALTER TABLE [dbo].[sales_invoice_detail] CHECK CONSTRAINT [FK__sale_invo__INVOI__571DF1D5]
GO
ALTER TABLE [dbo].[sales_invoice_detail]  WITH CHECK ADD  CONSTRAINT [FK__sale_invo__PRODU__5812160E] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[product] ([ID])
GO
ALTER TABLE [dbo].[sales_invoice_detail] CHECK CONSTRAINT [FK__sale_invo__PRODU__5812160E]
GO
