USE [master]
GO
/****** Object:  Database [ministore]    Script Date: 30-Nov-23 1:30:22 AM ******/
CREATE DATABASE [ministore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ministore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.NGAHZ\MSSQL\DATA\ministore.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ministore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.NGAHZ\MSSQL\DATA\ministore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ministore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ministore]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 30-Nov-23 1:30:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[ID] [varchar](50) NOT NULL,
	[USERNAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_admin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 30-Nov-23 1:30:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[ID] [varchar](50) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[STATE] [varchar](50) NOT NULL,
 CONSTRAINT [PK__category__3214EC27B14667F7] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[consumer]    Script Date: 30-Nov-23 1:30:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[consumer](
	[ID] [varchar](50) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[GENDER] [nvarchar](50) NOT NULL,
	[DOB] [date] NOT NULL,
	[CELL] [varchar](50) NOT NULL,
 CONSTRAINT [PK__consumer__3214EC27734777CE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 30-Nov-23 1:30:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[ID] [varchar](50) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[GENDER] [nvarchar](50) NOT NULL,
	[DOB] [date] NOT NULL,
	[CELL] [varchar](50) NOT NULL,
	[IMG] [varchar](50) NULL,
	[STATE] [varchar](50) NOT NULL,
 CONSTRAINT [PK__employee__3214EC27C14AFEAA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 30-Nov-23 1:30:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[ID] [varchar](50) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[CATEGORY_ID] [varchar](50) NULL,
	[PROMOTION_ID] [varchar](50) NULL,
	[PROVIDER_ID] [varchar](50) NOT NULL,
	[PRICE] [decimal](10, 0) NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[IMG] [varchar](50) NULL,
	[STATE] [varchar](50) NOT NULL,
 CONSTRAINT [PK__product__3214EC27D61BDD74] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotion]    Script Date: 30-Nov-23 1:30:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotion](
	[ID] [varchar](50) NOT NULL,
	[DISCRIPTION] [ntext] NOT NULL,
	[PERCENT_DISCOUNT] [float] NOT NULL,
	[START_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
	[STATE] [varchar](50) NOT NULL,
 CONSTRAINT [PK__promotio__3214EC27941028B7] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[provider]    Script Date: 30-Nov-23 1:30:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[provider](
	[ID] [varchar](50) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[CELL] [varchar](50) NOT NULL,
	[ADDRESS] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[STATE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__provider__3214EC2752EA2326] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[purchase_invoice]    Script Date: 30-Nov-23 1:30:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purchase_invoice](
	[ID] [varchar](50) NOT NULL,
	[EMPLOYEE_ID] [varchar](50) NOT NULL,
	[DATE] [date] NOT NULL,
	[TOTAL_PAYMENT] [decimal](10, 0) NOT NULL,
	[PROVIDER_ID] [varchar](50) NOT NULL,
	[STATE] [varchar](50) NOT NULL,
 CONSTRAINT [PK__purchase__3214EC27C9F30652] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[purchase_invoice_detail]    Script Date: 30-Nov-23 1:30:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purchase_invoice_detail](
	[INVOICE_ID] [varchar](50) NOT NULL,
	[PRODUCT_ID] [varchar](50) NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[PRICE] [decimal](10, 0) NOT NULL,
	[EXP] [date] NOT NULL,
 CONSTRAINT [PK__purchase__29C25E7E400E7C89] PRIMARY KEY CLUSTERED 
(
	[INVOICE_ID] ASC,
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales_invoice]    Script Date: 30-Nov-23 1:30:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales_invoice](
	[ID] [varchar](50) NOT NULL,
	[EMPLOYEE_ID] [varchar](50) NOT NULL,
	[DATE] [date] NOT NULL,
	[TOTAL_PAYMENT] [decimal](18, 0) NOT NULL,
	[CONSUMER_ID] [varchar](50) NULL,
	[VOUCHER_ID] [varchar](50) NULL,
	[STATE] [varchar](50) NOT NULL,
 CONSTRAINT [PK__sale_inv__3214EC27947CD19E] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales_invoice_detail]    Script Date: 30-Nov-23 1:30:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales_invoice_detail](
	[INVOICE_ID] [varchar](50) NOT NULL,
	[PRODUCT_ID] [varchar](50) NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[PRICE] [decimal](18, 0) NULL,
 CONSTRAINT [PK__sale_inv__29C25E7E43D1A3A9] PRIMARY KEY CLUSTERED 
(
	[INVOICE_ID] ASC,
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stockroom]    Script Date: 30-Nov-23 1:30:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stockroom](
	[ID] [varchar](50) NOT NULL,
	[PRODUCT_ID] [varchar](50) NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[EXP] [date] NOT NULL,
 CONSTRAINT [PK_stockroom] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[voucher]    Script Date: 30-Nov-23 1:30:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voucher](
	[ID] [varchar](50) NOT NULL,
	[CODE] [nvarchar](50) NOT NULL,
	[DISCRIPTION] [ntext] NOT NULL,
	[DISCOUNT_AMOUNT] [decimal](10, 0) NULL,
	[MIN_INVOICE_VALUE] [decimal](10, 0) NULL,
	[PERCENT_DISCOUNT] [float] NULL,
	[MAX_DISCOUNT] [decimal](10, 0) NULL,
	[START_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
	[STATE] [varchar](50) NOT NULL,
 CONSTRAINT [PK__voucher__3214EC27A52AF992] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[admin] ([ID], [USERNAME], [PASSWORD], [NAME]) VALUES (N'100', N'nga', N'ngane123', N'thanhnga')
INSERT [dbo].[admin] ([ID], [USERNAME], [PASSWORD], [NAME]) VALUES (N'101', N's', N'123', N's')
GO
INSERT [dbo].[category] ([ID], [NAME], [STATE]) VALUES (N'100', N'Food', N'0')
INSERT [dbo].[category] ([ID], [NAME], [STATE]) VALUES (N'101', N'Drink', N'0')
INSERT [dbo].[category] ([ID], [NAME], [STATE]) VALUES (N'102', N'For Life', N'0')
GO
INSERT [dbo].[consumer] ([ID], [NAME], [GENDER], [DOB], [CELL]) VALUES (N'10000', N'tèo', N'Nam', CAST(N'2010-01-27' AS Date), N'0902222222')
INSERT [dbo].[consumer] ([ID], [NAME], [GENDER], [DOB], [CELL]) VALUES (N'10001', N'hi', N'Nam', CAST(N'2010-01-27' AS Date), N'0902226562')
INSERT [dbo].[consumer] ([ID], [NAME], [GENDER], [DOB], [CELL]) VALUES (N'10002', N'e', N'Nam', CAST(N'2010-01-27' AS Date), N'0953223542')
GO
INSERT [dbo].[employee] ([ID], [NAME], [GENDER], [DOB], [CELL], [IMG], [STATE]) VALUES (N'10000', N'Lan', N'Nữ', CAST(N'2002-05-02' AS Date), N'0905224167', N'3.png', N'0')
INSERT [dbo].[employee] ([ID], [NAME], [GENDER], [DOB], [CELL], [IMG], [STATE]) VALUES (N'10001', N'Xoài', N'Nam', CAST(N'2001-06-09' AS Date), N'0326554286', N'', N'0')
INSERT [dbo].[employee] ([ID], [NAME], [GENDER], [DOB], [CELL], [IMG], [STATE]) VALUES (N'10002', N'Đặng Thành Nam', N'Nam', CAST(N'2002-12-12' AS Date), N'0958625541', N'', N'0')
GO
INSERT [dbo].[product] ([ID], [NAME], [CATEGORY_ID], [PROMOTION_ID], [PROVIDER_ID], [PRICE], [QUANTITY], [IMG], [STATE]) VALUES (N'100000', N'sữa tắm con bò', N'100', NULL, N'10002', CAST(200000 AS Decimal(10, 0)), 25, N'', N'0')
INSERT [dbo].[product] ([ID], [NAME], [CATEGORY_ID], [PROMOTION_ID], [PROVIDER_ID], [PRICE], [QUANTITY], [IMG], [STATE]) VALUES (N'100001', N'siêu super abc dè fhel fnsfsk skèn', N'101', NULL, N'10003', CAST(6421000 AS Decimal(10, 0)), 25, N'pro100001.png', N'0')
INSERT [dbo].[product] ([ID], [NAME], [CATEGORY_ID], [PROMOTION_ID], [PROVIDER_ID], [PRICE], [QUANTITY], [IMG], [STATE]) VALUES (N'100002', N'CoCa Light', N'101', NULL, N'10002', CAST(10000 AS Decimal(10, 0)), 25, N'pro100002.png', N'0')
GO
INSERT [dbo].[promotion] ([ID], [DISCRIPTION], [PERCENT_DISCOUNT], [START_DATE], [END_DATE], [STATE]) VALUES (N'100', N'Giảm 30% cho sản phẩm ', 0.3, CAST(N'2023-10-15' AS Date), CAST(N'2023-10-31' AS Date), N'1')
INSERT [dbo].[promotion] ([ID], [DISCRIPTION], [PERCENT_DISCOUNT], [START_DATE], [END_DATE], [STATE]) VALUES (N'1000', N'bài alo', 0.2, CAST(N'2023-10-03' AS Date), CAST(N'2023-10-11' AS Date), N'1')
INSERT [dbo].[promotion] ([ID], [DISCRIPTION], [PERCENT_DISCOUNT], [START_DATE], [END_DATE], [STATE]) VALUES (N'1001', N'test', 0.3, CAST(N'2023-11-09' AS Date), CAST(N'2023-11-24' AS Date), N'1')
GO
INSERT [dbo].[provider] ([ID], [NAME], [CELL], [ADDRESS], [EMAIL], [STATE]) VALUES (N'10001', N'Cty phân phối Thực Phẩm', N'0939123023', N'243 ACB ', N'acb@gmail.com', N'0')
INSERT [dbo].[provider] ([ID], [NAME], [CELL], [ADDRESS], [EMAIL], [STATE]) VALUES (N'10002', N'Cty phân phối nước giải khát', N'0939123453', N'23 BBB ', N'bbb@gmail.com', N'0')
INSERT [dbo].[provider] ([ID], [NAME], [CELL], [ADDRESS], [EMAIL], [STATE]) VALUES (N'10003', N'Cty phân phối hàng tiêu dùng ', N'0939333123', N'33 CCC', N'ccc@gmail.com', N'0')
GO
INSERT [dbo].[purchase_invoice] ([ID], [EMPLOYEE_ID], [DATE], [TOTAL_PAYMENT], [PROVIDER_ID], [STATE]) VALUES (N'100003', N'10000', CAST(N'2023-11-29' AS Date), CAST(1531250 AS Decimal(10, 0)), N'10001', N'1')
INSERT [dbo].[purchase_invoice] ([ID], [EMPLOYEE_ID], [DATE], [TOTAL_PAYMENT], [PROVIDER_ID], [STATE]) VALUES (N'100004', N'10001', CAST(N'2023-11-29' AS Date), CAST(5015625 AS Decimal(10, 0)), N'10002', N'1')
INSERT [dbo].[purchase_invoice] ([ID], [EMPLOYEE_ID], [DATE], [TOTAL_PAYMENT], [PROVIDER_ID], [STATE]) VALUES (N'100005', N'10002', CAST(N'2023-11-29' AS Date), CAST(128609125 AS Decimal(10, 0)), N'10003', N'1')
GO
INSERT [dbo].[purchase_invoice_detail] ([INVOICE_ID], [PRODUCT_ID], [QUANTITY], [PRICE], [EXP]) VALUES (N'100003', N'100024', 25, CAST(2500 AS Decimal(10, 0)), CAST(N'2024-11-30' AS Date))
INSERT [dbo].[purchase_invoice_detail] ([INVOICE_ID], [PRODUCT_ID], [QUANTITY], [PRICE], [EXP]) VALUES (N'100003', N'100025', 25, CAST(2500 AS Decimal(10, 0)), CAST(N'2024-12-09' AS Date))
INSERT [dbo].[purchase_invoice_detail] ([INVOICE_ID], [PRODUCT_ID], [QUANTITY], [PRICE], [EXP]) VALUES (N'100003', N'100026', 25, CAST(2500 AS Decimal(10, 0)), CAST(N'2024-12-08' AS Date))
GO
INSERT [dbo].[stockroom] ([ID], [PRODUCT_ID], [QUANTITY], [EXP]) VALUES (N'100000', N'100024', 25, CAST(N'2024-11-30' AS Date))
INSERT [dbo].[stockroom] ([ID], [PRODUCT_ID], [QUANTITY], [EXP]) VALUES (N'100001', N'100025', 25, CAST(N'2024-12-09' AS Date))
INSERT [dbo].[stockroom] ([ID], [PRODUCT_ID], [QUANTITY], [EXP]) VALUES (N'100002', N'100026', 25, CAST(N'2024-12-08' AS Date))
GO
INSERT [dbo].[voucher] ([ID], [CODE], [DISCRIPTION], [DISCOUNT_AMOUNT], [MIN_INVOICE_VALUE], [PERCENT_DISCOUNT], [MAX_DISCOUNT], [START_DATE], [END_DATE], [STATE]) VALUES (N'100', N'afgh', N'áp dụng cho háo đơn 5tr ', CAST(20000 AS Decimal(10, 0)), CAST(5000000 AS Decimal(10, 0)), NULL, NULL, CAST(N'2023-10-24' AS Date), CAST(N'2023-10-25' AS Date), N'1')
INSERT [dbo].[voucher] ([ID], [CODE], [DISCRIPTION], [DISCOUNT_AMOUNT], [MIN_INVOICE_VALUE], [PERCENT_DISCOUNT], [MAX_DISCOUNT], [START_DATE], [END_DATE], [STATE]) VALUES (N'101', N'MGG10', N'Áp dụng cho hóa đơn từ 100000 VND', CAST(10000 AS Decimal(10, 0)), CAST(100000 AS Decimal(10, 0)), NULL, NULL, CAST(N'2023-10-01' AS Date), CAST(N'2023-11-30' AS Date), N'1')
INSERT [dbo].[voucher] ([ID], [CODE], [DISCRIPTION], [DISCOUNT_AMOUNT], [MIN_INVOICE_VALUE], [PERCENT_DISCOUNT], [MAX_DISCOUNT], [START_DATE], [END_DATE], [STATE]) VALUES (N'102', N'MGG15', N'Áp dụng cho hóa đơn từ 150000 VND', CAST(15000 AS Decimal(10, 0)), CAST(150000 AS Decimal(10, 0)), NULL, NULL, CAST(N'2023-10-01' AS Date), CAST(N'2023-10-31' AS Date), N'1')
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK__product__CATEGOR__440B1D61] FOREIGN KEY([CATEGORY_ID])
REFERENCES [dbo].[category] ([ID])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK__product__CATEGOR__440B1D61]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK__product__PROMOTI__44FF419A] FOREIGN KEY([PROMOTION_ID])
REFERENCES [dbo].[promotion] ([ID])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK__product__PROMOTI__44FF419A]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK__product__PROVIDE__45F365D3] FOREIGN KEY([PROVIDER_ID])
REFERENCES [dbo].[provider] ([ID])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK__product__PROVIDE__45F365D3]
GO
ALTER TABLE [dbo].[purchase_invoice]  WITH CHECK ADD  CONSTRAINT [FK__purchase___EMPLO__4AB81AF0] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[employee] ([ID])
GO
ALTER TABLE [dbo].[purchase_invoice] CHECK CONSTRAINT [FK__purchase___EMPLO__4AB81AF0]
GO
ALTER TABLE [dbo].[purchase_invoice]  WITH CHECK ADD  CONSTRAINT [FK__purchase___PROVI__4BAC3F29] FOREIGN KEY([PROVIDER_ID])
REFERENCES [dbo].[provider] ([ID])
GO
ALTER TABLE [dbo].[purchase_invoice] CHECK CONSTRAINT [FK__purchase___PROVI__4BAC3F29]
GO
ALTER TABLE [dbo].[purchase_invoice_detail]  WITH CHECK ADD  CONSTRAINT [FK__purchase___INVOI__4F7CD00D] FOREIGN KEY([INVOICE_ID])
REFERENCES [dbo].[purchase_invoice] ([ID])
GO
ALTER TABLE [dbo].[purchase_invoice_detail] CHECK CONSTRAINT [FK__purchase___INVOI__4F7CD00D]
GO
ALTER TABLE [dbo].[purchase_invoice_detail]  WITH CHECK ADD  CONSTRAINT [FK_purchase_invoice_detail_product] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[product] ([ID])
GO
ALTER TABLE [dbo].[purchase_invoice_detail] CHECK CONSTRAINT [FK_purchase_invoice_detail_product]
GO
ALTER TABLE [dbo].[sales_invoice]  WITH CHECK ADD  CONSTRAINT [FK__sale_invo__CONSU__5441852A] FOREIGN KEY([CONSUMER_ID])
REFERENCES [dbo].[consumer] ([ID])
GO
ALTER TABLE [dbo].[sales_invoice] CHECK CONSTRAINT [FK__sale_invo__CONSU__5441852A]
GO
ALTER TABLE [dbo].[sales_invoice]  WITH CHECK ADD  CONSTRAINT [FK__sale_invo__EMPLO__534D60F1] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[employee] ([ID])
GO
ALTER TABLE [dbo].[sales_invoice] CHECK CONSTRAINT [FK__sale_invo__EMPLO__534D60F1]
GO
ALTER TABLE [dbo].[sales_invoice]  WITH CHECK ADD  CONSTRAINT [FK_sale_invoice_voucher] FOREIGN KEY([VOUCHER_ID])
REFERENCES [dbo].[voucher] ([ID])
GO
ALTER TABLE [dbo].[sales_invoice] CHECK CONSTRAINT [FK_sale_invoice_voucher]
GO
ALTER TABLE [dbo].[sales_invoice_detail]  WITH CHECK ADD  CONSTRAINT [FK__sale_invo__INVOI__571DF1D5] FOREIGN KEY([INVOICE_ID])
REFERENCES [dbo].[sales_invoice] ([ID])
GO
ALTER TABLE [dbo].[sales_invoice_detail] CHECK CONSTRAINT [FK__sale_invo__INVOI__571DF1D5]
GO
ALTER TABLE [dbo].[sales_invoice_detail]  WITH CHECK ADD  CONSTRAINT [FK__sale_invo__PRODU__5812160E] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[product] ([ID])
GO
ALTER TABLE [dbo].[sales_invoice_detail] CHECK CONSTRAINT [FK__sale_invo__PRODU__5812160E]
GO
ALTER TABLE [dbo].[stockroom]  WITH CHECK ADD  CONSTRAINT [FK_stockroom_product] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[product] ([ID])
GO
ALTER TABLE [dbo].[stockroom] CHECK CONSTRAINT [FK_stockroom_product]
GO
USE [master]
GO
